In [ ]:
f, l = input().split('-')
print(f,l,sep='')

In [ ]:
yymmdd = input()
print(yymmdd[:1+1])
print(yymmdd[2:3+1])
print(yymmdd[4:])

In [ ]:
a, b = input().split()
a=int(a)
b=int(b)

print(a+b)

In [ ]:
a = int(input(), 16)
print('%o'%a)

In [ ]:
print(-(int(input())))

In [ ]:
a = ord(input())
print(a)

In [ ]:
a, b = input().split()
a = int(a)
b = int(b)
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(format(a%b,'.2f'))
print(a/b, '.2f')

In [ ]:
intlist = input().split()
intlist = [int(element) for element in intlist]
print(sum(intlist), format(sum(intlist)/len(intlist), '.2f'))

In [ ]:
a, b = map(int, input().split())
print(a<<b)

In [ ]:
a, b = map(int, input().split())

if a > b: print(False)
else: print(True)

In [ ]:
def disc(a,b):
    if a<=b: return True
    else: return False
a, b = map(int, input().split())
print(disc(a,b))

In [ ]:
def aand(a, b):
    if bool(a) and bool(b): return True
    else: return False
a, b = map(int, input().split())
print(aand(a,b))

In [ ]:
def oor(a, b):
    if bool(not a) and bool(not b): return False
    else: return True
a, b = map(int, input().split())
print(oor(a,b))

In [ ]:
def xor(a, b):
    if bool(a) + bool(b) == 1: return True
    else: return False
a, b = map(int, input().split())
print(xor(a,b))

In [ ]:
a = int(input())

print(~a)

In [ ]:
a, b = map(int, input().split())
print(a&b)

In [ ]:
intlist = input().split()

for i in intlist:
    i = int(i)
    if i%2 == 0:
        print(i)

In [ ]:
alp = str(input())

def resp(s):
    if s == 'A': return "best!!!"
    elif s == 'B': return "good!!!"
    elif s == 'C': return "run!"
    elif s == 'D': return "slowly~"
    else: return "what?"
    
print(resp(alp))

In [ ]:
n = int(input())
def countdown(k):
    while k>0:
        print(k)
        k -= 1
countdown(n)

In [ ]:
def countdown(k):
    while k >= 0:
        print(k)
        k -= 1

k = int(input())
countdown(k)

In [ ]:
char = ord(input())

start = ord('a')
while start <= char:
    print(chr(start), end =' ')
    start += 1

In [ ]:
c = 'c'
while c != 'q':
    c = input()
    print(c)

In [ ]:
a = int(input())
s = 0
for i in range(a):
    s = s + i
    if s >= a: break
print(i)

In [ ]:
n, m = map(int, input().split())

for i in range(1, n+1):
    for j in range(1, m+1):
    
        print(i, j)

In [ ]:
n = int(input(), 16)
for i in range(1,16+1):
    print('%X'%n, '*%X'%i, '=%X'%(n*i), sep = '')

In [ ]:
def findmed(lst):
    srtlst = sorted(lst)
    lenlst = len(srtlst)
    if lenlst % 2 == 1:
        return srtlst[(int((lenlst/2)//1))]
    elif lenlst % 2 == 0:
        return (srtlst[int(lenlst/2)]+srtlst[int((lenlst/2) -1)])/2

test = [5, 32, 12, 321, 125, 1212, 6, 78892]
print(findmed(test))

In [ ]:
## SW EXpert Academy
def findmed(lst):
    srtlst = sorted(lst)
    lenlst = len(srtlst)
    if lenlst % 2 == 1:
        return srtlst[(int((lenlst/2)//1))]
    elif lenlst % 2 == 0:
        return (srtlst[int(lenlst/2)]+srtlst[int((lenlst/2) -1)])/2

tcs = input()
intlist = input().split()
for i in range(len(intlist)):
    intlist[i] = int(intlist[i])
answer = findmed(intlist)
print(answer)

In [ ]:
height = 170
weight = 68.6
print(f'My height/n{height}\nMy weight\n{weight}')

In [ ]:
n = int(input(),16)
for i in range(1,16+1):
    print('%X'%n, '*%X'%i, '=%X'%(n*i), sep='')

In [ ]:
print('6 + 2 =', 6+2)
print('6 - 2 =', 6-2)
print('6 * 2 =', 6*2)
print('6 + 2 =', 6/2)

In [ ]:
for _ in range(2):
    for i in range(10):
        if i == 9:
            print('T')
        else:
            print('T', end ='')
for i in range(3):
    print('    TT')

In [ ]:
string = '문자열'
integer = 10
floating_point = 3.14
a_list = [1, 2, 3, 4, 5]
dictionary = {'name': '홍길동', 'age': 20}
a_set = {1, 2, 3, 4, 5}
a_range = range(11)
a_tuple = (1, 2, 3)
boolean = True

print(type(string)) 
print(type(integer))
print(type(floating_point))
print(type(a_list))
print(type(dictionary))
print(type(a_set))
print(type(a_range))
print(type(a_tuple))
print(type(boolean))

In [ ]:
twinkle = '반짝 반짝'
at = '에서도'
star = '작은별'
glit = '아름답게 비치네'
east = '동쪽 하늘'
west = '서쪽 하늘'
print(twinkle, star, glit)
print(east, at, ' ', west, at, sep = '')
print(twinkle, star, glit)

In [ ]:
# ws_1_1.py
name = '홍길동'
age = 20
n_tag = '이름 : '
a_tag = '나이 : '
intro = '학생 정보를 출력합니다.'
bridge = '각각의 정보는 다음과 같습니다'
outro = '출력 완료'

print(intro)
print(bridge)
print(n_tag, name)
print(a_tag, age)
print(outro)

In [ ]:
# ws_1_2.py

string = '문자열'
integer = 10
floating_point = 3.14
a_list = [1, 2, 3, 4, 5]
dictionary = {'name': '홍길동', 'age': 20}
a_set = {1, 2, 3, 4, 5}
a_range = range(11)
a_tuple = (1, 2, 3)
boolean = True

print(type(string))
print(type(integer))
print(type(floating_point))
print(type(a_list))
print(type(dictionary))
print(type(a_set))
print(type(a_range))
print(type(a_tuple))
print(type(boolean))

In [ ]:
# 원주율
pi = 3.1415926535897932384626433832795028841971693993751058209749445923078164062862089986280348253421170679
# 반지름
r = 15

print(f'원주율 : {pi}')
print(f'반지름 : {r}')
print(f'원의 둘레 : {2*pi*r}')
print(f'원의 넓이 : {pi*(r**2)}')

In [ ]:
print(3*2)
print(3**2)
print((3**2)//(3*2), (3**2)%(3*2))
print(3**2 + (-3)**2)

sqr = 3**2
dbl = 3*2
msqr = (-3)**2

print(dbl)
print(sqr)
print((sqr)//(dbl), (sqr)%(dbl))
print(sqr + msqr)

In [ ]:
word = 'Hello, Wolrd!'

print(word)  ##

In [ ]:
# hw_1_4.py
# 사과는 영어로 apple
apple_kr = '사과'
apple = 'apple'
# 바나나는 영어로 banana
banana_kr = '바나나'
banana = 'banana'
# 키위는 영어로 kiwi
kiwi_kr = '키위'
kiwi = 'kiwi'

equals_to = '는'
in_eng = '영어로'
print(apple_kr,equals_to,' ',in_eng,' ',apple, sep ='')
print(banana_kr,equals_to,' ',in_eng,' ',banana, sep ='')
print(kiwi_kr,equals_to,' ',in_eng,' ',kiwi, sep ='')

In [ ]:
a = 10
b = 20
print(a,'+', b, '=', a+b)

In [ ]:
pi = 3.14
r = 5
cfr = round(2*pi*r,1)
area = round(pi*r**2,1)
cfr

In [ ]:
pi = 3.14
r = 5
cfr = round(2*pi*r,1)
area = round(pi*r**2,1)
print('원주 =', r, '* 2 *',pi, '=', cfr)
print('넓이 =', r, '*', r, '*',pi, '=', cfr)

In [ ]:
pi = 3.14
r = 5
cfr = format(2*pi*r,".1f")
area = pi*r**2
print('원주 =', r, '* 2 *',pi, '=', cfr)
print('넓이 =', r, '*', r, '*',pi, '=', area)

In [ ]:
def sequences(a, m, d, n):
    for i in range(n-1):
        k = a*m + d
        a = k
    return k

a, m, d, n = map(int, input().split())
sequences(a, m, d, n)

In [ ]:
def tsn(n):
    for i in range(1, n+1) :
        if (i//10 == 3 or i//10 == 6 or i//10 == 9) and (i%10 == 3 or i%10 == 6 or i%10 == 9):
            print("XX", end= ' ')
        elif i//10 == 3 or i//10 == 6 or i//10 == 9:
            print("X", end= ' ')
        elif i%10 == 3 or i%10 == 6 or i%10 == 9 :
            print("X", end= ' ')

        else: print(i, end = ' ')

n = int(input())
tsn(n)

In [ ]:
def tsn(n):
    for i in range(1, n + 1):
        if any(x in str(i) for x in ['3', '6', '9']):
            print("X" * str(i).count('3') + "X" * str(i).count('6') + "X" * str(i).count('9'), end=' ')
        else:
            print(i, end=' ')

n = int(input())
tsn(n)

In [ ]:
print("다음은 이형기 시인의 \"낙화\"의 한 구절이다.\n-1연\n\t가야할 때 언제인가를\n\t분명히 알고 가는 이의\n\t뒷모습은 얼마나 아름다운가.\n\n나는 이 시를 보며 '나는 내가 가야할 때가 언제일까?' 를 생각해 보았다.")

In [ ]:
author_1 = '권필'
author_2 = '허균'
book_1 = '주생전'
book_2 = '홍길동전'
print(f'{book_1}의 작가는 {author_1}이고,\n{author_2}은 {book_2}를 집필하였다.')

In [ ]:
books = ['광문자전', '유연전', '심청전', '홍길동전', '수성지']
authors = ['작자 미상', '허균', '박지원', '이항복', '임제']

print(f'{authors[1]} : {books[3]}')
print(f'{authors[3]} : {books[1]}')
print(f'{authors[0]} : {books[2]}')
print(f'{authors[2]} : {books[0]}')
print(f'{authors[4]} : {books[4]}')

In [ ]:
information = dict()
authors = ['김시습', '허균', '남영로', '작자 미상', '임제', '박지원']
books = [
    ['장화홍련전', '가락국 신화', '온달 설화'],
    ['금오신화', '이생규장전', '만복자서포기'],
    ['수성지', '백호집', '원생몽유록'],
    ['홍길동전', '장생전', '도문대작'],
    ['옥루몽', '옥련몽'],
]

'''
- 작가와 작품 목록 참고
- 허균 : 홍길동전, 장생전, 도문대작
- 임제 : 수성지, 백호집, 원생몽유록
- 작자 미상 : 장화홍련전, 가락국 신화, 온달 설화
'''

information[authors[0]] = books[1]
information[authors[1]] = books[3]
information[authors[2]] = books[4]
information[authors[3]] = books[0]
information[authors[4]] = books[2]


for k, v in information.items():
    print(k, ':', v)

In [ ]:
catalog = [
    ['시간의 틈', '반짝임의 어둠', '망각의 경계'], 
    ['연기의 수수께끼', '장면의 고백', '드라마의 그림자'], 
    ['황금의 칼날', '비열한 간신', '무명의 영웅'], 
    ['성공의 열쇠', '내면의 변화', '목표의 달성']
]

backup_catalog = catalog

''' 
도서 제목 '성공의 열쇠', '내면의 변화', '목표의 달성' 을 각각
'성공을 향한 한 걸음', '내 삶의 변화', '목표 달성의 비밀' 가 되도록 변경하시오.
'''

catalog[3][0] = '성공을 향한 한 걸음'
catalog[3][1] = '내 삶의 변화'
catalog[3][2] = '목표 달성의 비밀'

print(catalog[3])

print('catalog와 backup_catalog를 비교한 결과')
# 식별 연산자로 catalog와 backup_catalog를 비교한 결과를 출력하시오. 
print(backup_catalog == catalog)

print('backup_catalog : ')
print(backup_catalog)
print()

print('catalog : ')
print(catalog)

In [ ]:
catalog = [
    ['시간의 틈', '반짝임의 어둠', '망각의 경계'], 
    ['연기의 수수께끼', '장면의 고백', '드라마의 그림자'], 
    ['황금의 칼날', '비열한 간신', '무명의 영웅'], 
    ['성공의 열쇠', '내면의 변화', '목표의 달성']
]

backup_catalog = [subcatalog[:] for subcatalog in catalog]

''' 
도서 제목 '성공의 열쇠', '내면의 변화', '목표의 달성' 을 각각
'성공을 향한 한 걸음', '내 삶의 변화', '목표 달성의 비밀' 가 되도록 변경하시오.
'''
catalog[3][0] = '성공을 향한 한 걸음'
catalog[3][1] = '내 삶의 변화'
catalog[3][2] = '목표 달성의 비밀'

print('catalog와 backup_catalog를 비교한 결과')
# 식별 연산자로 catalog와 backup_catalog를 비교한 결과를 출력하시오. 
print(catalog == backup_catalog)

print('backup_catalog : ')
print(backup_catalog)
print()

print('catalog : ')
print(catalog)

In [ ]:
book = '1'
total = 10
guide = '현재 보유 중인 총 책의 수는 다음과 같습니다.'
print(guide)
print(int(book) * total)

changes = '그 중, 대여중인 책을 제외한 책의 수는 다음과 같습니다.'
rental = 3.0
print(changes)
print(total - int(rental))

In [ ]:
authors = ['작자 미상', '이항복', '임제', '임제', 
           '조성기', '조성기', '조성기', '임제', 
           '허균', '허균', '허균', '임제', '임제', 
           '임제', '임제', '임제', '임제', '임제', 
           '임제', '임제', '임제', '박지원', '이항복', 
           '남영로', '남영로', '남영로', '이항복', '임제', '임제']

print(list(set(authors)))

In [ ]:
def asc(r, g, b):
    for k in range(r):
       
        for j in range (g):
            
            for i in range (b):
                print(k, j, i)
    print(r*g*b)

asc(2,2,2)

In [ ]:
def mb(h, b, c, s):
    storage = f'{(h*b*c*s/8/1024/1024):.1f}'
    output = f'{storage} MB'
    return output
    
h, b, c, s = map(int, input().split())
print(mb(h, b, c, s))

In [ ]:
def sad(n):
    for i in range(1, n+1) :
        if i%3==0: continue            
        print(i, end=' ')

n = int(input())
sad(n)

In [ ]:
def ap(a, r, n):
    answer = r**(n-1) * a
    return answer

a, r, n = map(int, input().split())
ans = ap(a,r,n)
print(ans)

In [ ]:
# book.py
number_of_book = 100

def decrease_book(number):
    '''
    도서관의 전체 책 권수를 global에서 불러옵니다
    이용자가 책을 number권 빌려갈 때마다 현재 도서관 내 권 수를 출력합니다.
    '''
    global number_of_book
    number_of_book -= number
    print(f'남은 책의 수 : {number_of_book}')

In [ ]:
number_of_people = 0

def increase_user():
    '''
    이용자 수가 늘 때마다 count +1 하는 함수입니다.
    '''
    global number_of_people
    number_of_people += 1

def create_user(name, age, address):
    '''
    이용자의 이름, 연령, 주소를 받아 dictionary에 저장하고
    환영 인사를 출력하는 함수입니다.
    '''
    user_info = {}
    user_info['name'] = name
    user_info['age'] = age
    user_info['address'] = address
    increase_user()
    print(f'{name}님 환영합니다!')
    return user_info

# ws_3_3.py
def rental_book(info):
    '''
    이름을 key로, 연령을 value로 가지는 dictionary를 인자로 받아서
    연령의 10의 자리수를 빌려간 권 수로 하여 이용자의 이름과 대여 권수를
    출력하는 함수입니다.
    '''
    # info = {'김시습' : 32 ,  etc..}
    for name, age in info.items():
        number = age // 10
        decrease_book(number) # age: int, info[name]값
        print(f'{name}님이 {number}권의 책을 대여하였습니다.')


name = ['김시습', '허균', '남영로', '임제', '박지원']
age = [20, 16, 52, 36, 60]
address = ['서울', '강릉', '조선', '나주', '한성부']

many_user = list(map(create_user, name, age, address))
# create_user 함수에 name, age, address 각 list를 돌면서 인자 할당.
# dictionary들을 5개 만든 후 map type을 list로 변환, list 안에는 dict가 5개
info = dict(map(lambda dictionary : (str(dictionary['name']), int(dictionary['age'])),
                 many_user))
## 위에서 만든 many_user에서 name과 age만 가져와 mapping하는 함수를 람다로 표현
## name을 key로, age를 value로 하는 하나의 dictionary 생성 
# function : {'name' : 홍길동, 'age' : 20, 'address' : '서울'}
#            {'name' : 피카츄, 'age' : 255, 'address' : '뉴욕'}
# 에서 {'홍길동' : 20, '피카츄' : 255}을 가져오는 함수
# def name_age(dictionary):
#   dictionary2 = {dictionary['name'] : dictionary['age'] }
#   return dictionary2
## 
print(info)
# rental_book(info)

In [ ]:
print(info)

In [ ]:
my_dict = {
    'a1' : {'b1' : 1, 'b2': 2, 'b3' : 3},
    'a2' : {'b1' : 4, 'b2': 5, 'b3' : 6},
    'a3' : {'b1' : 7, 'b2': 8, 'b3' : 9},
}
# value 5를 출력
my_dict['a2']['b2']

In [ ]:
import random

set_1 = set()
while len(set_1) != 6:
    number = random.randint(1, 45)
    set_1.add(number)
list_1 = list(set_1)
list_1.sort()
print(list_1)

In [ ]:
# 아래 함수를 수정하시오.
def add_numbers(a, b):
    answer = a + b
    return answer


#수정한 add_numbers() 함수를 호출하시오.
print('3과 5를 인자로 넘긴 경우,')
print(add_numbers(3, 5))

In [ ]:
vowels = 'aeiou'

print(('a' and 'b') in vowels)
print(('b' and 'a') in vowels)

print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)

print(5 or 3)
print(3 or 0)
print(0 or 3)
print(0 or 0)

In [ ]:
# 1. 절댓값을 반환하는 함수 abs를 사용하여 아래 변수에 담긴 값의 절댓값을 출력하시오.
negative = -3
print(abs(negative))

# 2. 아래 변수에 담긴 값의 boolean 값을 출력하시오.
empty_list = []
print(bool(empty_list))


# 3. 주어진 리스트가 가진 모든 값을 더한 결과를 출력하시오.
my_list = [1, 2, 3, 4, 5]
print(sum(my_list))

# 4. 주어진 정렬을 오름차순으로 정렬한 결과를 출력하시오.
unsorted_list = ['하', '교', '캅', '의', '지', '가']
print(sorted(unsorted_list))

In [ ]:
# codeup 91
a, b, c = map(int, input().split())
d = 1
while d%a!=0 or d%b!=0 or d%c!=0 :
  d += 1
print(d)

In [ ]:
# codeup 92
n = int(input())      #개수를 입력받아 n에 정수로 저장
a = input().split()  #공백을 기준으로 잘라 a에 순서대로 저장

for i in range(n) :  #0부터 n-1까지...
  a[i] = int(a[i])       #a에 순서대로 저장되어있는 각 값을 정수로 변환해 다시 저장

d = []                     #d라는 이름의 빈 리스트 [ ] 변수를 만듦. 대괄호 기호 [  ] 를 사용한다.
for i in range(24) :  #[0, 0, 0, ... , 0, 0, 0] 과 같이 24개의 정수 값 0을 추가해 넣음
  d.append(0)        #각 값은 d[0], d[1], d[2], ... , d[22], d[23] 으로 값을 읽고 저장할 수 있음.

for i in range(n) :    #번호를 부를 때마다, 그 번호에 대한 카운트 1씩 증가
  d[a[i]] += 1

for i in range(1, 24) :  #카운트한 값을 공백을 두고 출력
  print(d[i], end=' ')

In [ ]:
def total(num1, num2):
    return num1 + num2

def total2():
    num1 = 5
    num2 = 3
    return num1+num2

print(total2())

def total3(num1, num2):
    print(num1 + num2)

total(5, 3)

In [ ]:
#codeup 93
n = int(input())
a = list(map(int,input().split()))

for i in range(n-1, -1, -1):
    print(a[i], end = ' ')

In [ ]:
a, b, c = 1, 2, 3
def enclosed():
    a, b, c = 4, 5, 6
    def local(c):
        print(a,b,c)
    local(500)
    print(a,b,c)

enclosed()
print(a,b,c)

In [ ]:
def facto(n):
    if n == 0:
        return 1

    
    return n*facto(n-1)

print(facto(5))

In [ ]:
numbers = [1,2,3,4,5]

squared_numbers = list(map(lambda x : x**2, numbers))
print(squared_numbers)

In [ ]:
n = int(input())
a = list(map(int,input().split()))

answer = a[0]
for i in range(1,len(a)):
    if a[i] < answer:
        answer = a[i]
print(answer)

In [ ]:
a = ['b', 'a', 'n', 'a', 'n']
# 1. list 마지막에 a 추가
a.append('a')
print(a)

# 2. 오름차순 정렬
a.sort()
print(a)
# 2-1. 내림차순
a.sort(reverse = True)
print(a)
# 3. 뒤집기
a.reverse()
print(a)
 #4. 리스트 a 에서 a 삭제, 출력
a.remove('a')
print(a)
#5. 
a.pop()
print(a)
#6
print(a.count('n'))

In [ ]:
# 백만장자 swea
for test_case in range(1, T + 1):
# ///////////////////////////////////////////////////////////////////////////////////
n=int(input())
price=list(map(int,input().split()))

result=0
max_num=0
for i in range(len(price)-1,-1,-1):

if price[i]>max_num:
max_num=price[i]
else:
result+=max_num-price[i]


print('#%d %d'%(test_case,result))